/*-----Homework hide sections-----*/
    .hide {
        display: none;
    }
/*-----End homework hide sections-----*/

/*============= Reset default browser styles ============*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*========================================================*/

/*===================== Global styles ====================*/
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/*---mobile---*/
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
}

/*---tablet---*/
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/*---desktop---*/
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

/*====================================================================*/

/*=============================== header =============================*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-nav-list,
.header-address {
    display: none;
}

.header-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    color: #404bbf;
    padding: 16px 0;
}

.header-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.burger-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}
                            /*-----Mobile Menu-----*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.container.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

.mobile-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    border: 1px solid #E4E4E4;
    background-color: #fff;
}

.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-address-item:nth-child(2) .mobile-menu-address-link {
    color: #434455; 
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-nav {
    margin-bottom: auto;
}
 
.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-nav-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-nav-link.current {
    color: #404bbf;
}

.mobile-menu-social {
    padding-top: 48px;
}

.mobile-menu-social-list {
    display: flex;
    gap: 40px;
    list-style: none;

}

.mobile-menu-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
}

.mobile-menu-social-icon {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

                                        /*-----TABLET-----*/
@media screen and (min-width: 768px) {
    .burger-button {
        display: none;
    }
    .header-logo-web {
        padding: 24px 0;
        margin-right: 120px;
    }
    .header-nav {
        display: flex;
        align-items: center;
    }
    .header-nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 24px 0;
    }
    .header-nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
        }
    .header-nav-link.current {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        }
    .header-nav-link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        background-color: #404bbf;       
    }
    
    .header-address-link:focus,
    .header-nav-link:focus,
    .header-nav-link.current:focus {
        color: #404bbf;   
    }
    .header-address {
        font-style: normal;
        display: block;
        }
    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;;
    }
    .header-address-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    }
    .mobile-menu {
        display: none;   
    }
}
                                        /*-----DESKTOP-----*/
@media screen and (min-width: 1158px) {
    .header-logo-web {
        margin-right: 76px;
    }
    .header-address-list {
        align-items: center;
        flex-direction: row;
        gap: 40px;   
    }
    .header-address-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
  }

  .header-address-link:hover,
  .header-address-link:focus,
  .header-nav-link:hover,
  .header-nav-link:focus,
  .header-nav-link.current:hover,
  .header-nav-link.current:focus {
      color: #404bbf;
  }

  .mobile-menu {
    display: none;
  }
}

/*==========================================================================*/

/*============================== Section-1 HERO ============================*/
.hero {
    background-color: rgba(46, 47, 66, 0.7);
    padding: 72px 52px;
    margin: 0 auto;
    background-image: ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-page-title {                                                          
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto 72px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    border: 0;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

                                        /*-----TABLET-----*/ 
 @media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        background-image: ;
        max-width: 768px;   
    }

    .hero-page-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px;   
    }
 }
                                          /*-----DESKTOP-----*/
  @media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/main-background.jpg");
        max-width: 1440px;
        }
    
    .hero-page-title {
            color: #fff;
            margin: 0 auto 48px;
        }

        .hero-button {
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .hero-button:hover,
        .hero-button:focus {
            background-color: #404bbf;   }
  }
/*==============================================================*/

/*============================ Section-2 VALUES ================*/
.values {
    padding: 96px 0;
}

.values-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.values-item {
    width: 100%;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.values-list-image {
    display: none;
}

.values-item-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.values-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
                                    /*-----Tablet-----*/
@media screen and (min-width: 768px) {
.values-list {
    column-gap: 24px;
    row-gap: 72px;
}
.values-item {
    max-width: 356px;
    width: calc((100% - 72px) / 2);
  }

.values-item-subtitle {
    text-align: left;
}
}
                                    /*-----Desktop-----*/
@media screen and (min-width: 1158px) {
.values {
    padding: 120px 0;
}

.values-list {
    gap: 24px;   
}

.values-item {
    max-width: 264px;
    width: calc((100% - 72px) / 4);
    border: 1px solid var(--light-slate);
}

.values-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.values-item-text {
    font-weight: 400;
}

.values-list-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}
}
/*==============================================================*/

/*============================== Section-3 TEAM ================*/
.team.container {
        padding: 96px 15px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 72px;
    flex-direction: column;
    align-items: center;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.team-item-image {
    display: block;
    width: 100%;
    height: auto;
}


.team-item-name-container {
    padding: 32px 0;
}

.team-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #434455;
}

.team-item-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-item-social-item {
    width: 40px;
    height: 40px;
}

.team-item-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.team-item-social-icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}
                                    
                                    /*-----Tablet-----*/
@media screen and (min-width: 768px) {
.team.container {
        padding: 96px 108px;
}
.team-list {
    column-gap: 24px;
    row-gap: 64px;
    flex-direction: row;
    justify-content: center;
}

.team-item { 
    max-width: 264px;
    width: calc((100% - 24px) / 2);
}

.team-item-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-social-link:hover,
.team-item-social-link:focus {
    background-color: #404bbf;
}

}
                                     /*-----Desktop-----*/
@media screen and (min-width: 1158px) { 
.team.container {
    padding: 120px 0px;
}
.team-list {
    gap: 24px; 
}

.team-item {
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-social-link:hover,
.team-item-social-link:focus {
    background-color: #404bbf;
}
}
/*=================================================================*/

/*=========================== Section-4 PORTFOLIO =================*/
.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-item-cover-text {
    display: none;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

.portfolio-item {
    width: 100%;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.portfolio-item-image {
    display: block;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-text-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
                                        /*-----Tablet-----*/
@media screen and (min-width: 768px) {
.portfolio-list {
    row-gap: 72px;
    column-gap: 24px;   
}

.portfolio-item {
    max-width: 356px;
}
}

                                        /*-----Desktop-----*/
@media screen and (min-width: 1158px) {
    .portfolio {
            padding: 120px 0;
        }
    
        .portfolio-item {
            width: calc((100% - 48px) / 3);
            max-width: 360px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .portfolio-item-cover {
            position: relative;
            overflow: hidden;
        }
    
        .portfolio-item-cover-text {
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            padding: 40px 32px;
            background-color: #4d5ae5;
            color: #f4f4fd;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .portfolio-item:hover .portfolio-item-cover-text {
            transform: translateY(0);
        }
    
    
        .portfolio-item:hover {
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        }
    
        .portfolio-list {
            gap: 48px 24px;
        }
    
}

/*=================================================*/

/*============================= FOOTER ============*/
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer.container {
    display: flex;
    flex-direction: column;
}

.footer-left {
    margin-bottom: 72px;
}

.footer-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 16px;
}

.footer-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-social {
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    list-style: none;
    /*justify-content: center;*/
    margin: 0 auto;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.footer-social-icon {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #fff;;
    margin-bottom: 16px;
    display: block;
    text-align: center;
}

.subscribe-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 2;
    color: #ffffff;
    background-color: transparent;
    margin-bottom: 16px;
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: 0.6;
}

.subscribe-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    min-width: 165px;
    border-radius: 4px;
    padding: 8px 24px;
    border: 0;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin: 0 auto;
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-left: 16px;
}
                                       /*-----Tablet-----*/
@media screen and (min-width: 768px) {
.footer-container {
    padding-left: 108px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}

.footer-left {
    max-width: 264px;
    margin-bottom: 0;
}

.footer-logo-web {
    text-align: start;
}

.footer-social {
    margin-bottom: 0;
    justify-content: flex-start;
    max-width: 208px;
}

.footer-social-title {
    margin: 0 0 16px;
    text-align: start;
}

.footer-subscribe {
    max-width: 453px;
}

.subscribe-title {
    text-align: start;
}

.subscribe-input {
    margin: 0;
    width: 264px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: flex-start;
}

}
                                        /*-----Desktop-----*/
@media screen and (min-width: 1158px) {
.footer {
    padding: 100px 0;
}

.footer .container {
    padding: 0 16px;
    column-gap: 0;
    row-gap: 0;
}

.footer-left {
    margin-right: 120px;
}

.footer-social {
    margin-right: 80px;
}

.footer-subscribe {

}

}

                        /*------Modal Mobile-----*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
                0 1px 3px 0 rgba(0, 0, 0, 0.12), 
                0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.modal-close-icon {
    width: 8px;
    height: 8px;
    fill: #2e2f42;
}

